.btn {
    transition: all 0.5s ease-in-out;

    &.login {
        background: $color-grey;
        
        &.active {
            background: $primary-color;    
        }
    }

    &.chat {
        background: $secondary-color;
        border-radius: 8px;
    }

    &.confirm {
        background: $secondary-color;
    }

    &.cancel {
        background: $color-grey;
    }

    &.primary {
        background: $primary-color;
    }

}