.btn {
    transition: all 0.5s ease-in-out;
    font-family: "Nanum Gothic", Nanum Gothic, HelveticaNeue-Light, AppleSDGothicNeo-Light,
    sans-serif;

    &.login {
        background: $color-grey;
        
        &.active {
            background: $color-green;    
        }
    }

    &.join {
        display: flex;
        align-items: center;
        margin-top: 14px;
        margin-left: auto;
        background: $color-green;
        border-radius: 8px;
        &.disabled {
            background: $color-grey;
        }
    }

    &.chat {
        background: $secondary-color;
        border-radius: 8px;
    }

    &.send {
        background: $color-green;
        color: $color-white;
    }

    &.confirm {
        background: $secondary-color;
    }

    &.cancel {
        background: $color-grey;
    }

    &.primary {
        background: $color-green;
    }
}