.btn {
    transition: all 0.5s ease-in-out;    

    &.login {
        background: $color-grey;
        
        &.active {
            background: $color-green;    
        }
    }

    &.join {
        display: flex;
        align-items: center;
        margin-top: 14px;
        margin-left: auto;
        background: $color-green;
        border-radius: 8px;
        &.disabled {
            background: $color-grey;
        }
    }

    &.chat {
        background: $secondary-color;
        border-radius: 8px;
    }

    &.send {
        background: $color-green;
        color: $color-white;
    }

    &.confirm {
        background: $secondary-color;
    }

    &.cancel {
        background: $color-grey;
    }

    &.primary {
        background: $primary-color;
    }

    &.like {
        position: relative;
        width: 24px;
        height: 24px;
        &:before, &:after {      
            opacity: 0;      
            display: block;
            clear: both;
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: -1;
            transform: translate(-50%, -50%);
            border-radius: 50%;            
            background: #EA4AAA;   
            transform-origin: center center;
            animation: waves 2s ease-in-out infinite;
            animation-fill-mode: forwards;
        }
        &:before {            
            width: 36px;
            height: 36px;
            transition: all 0.3s ease-in-out;
        }
        &:after {            
            width: 48px;
            height: 48px;                    
            transition: all 0.4s ease-in-out;    
        }  
        &.on {            
            &:before {
                opacity: 0.3;
            }
            &:after {
                opacity: 0.1;
            }        
        }
    }
}

@keyframes waves {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
    }
    25% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(0.5);
    }
    75% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-50%, -50%) scale(0.5);
    }
}