.app-container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    width: 100%;
    height: calc(100vh - 100px);
}

.app-contents-wrap {
    position: relative;
    width: 100%;
    padding: 20px 10px;
}

img, i {
    display: block;
    width: 100%;
    height: 100%;
}

// modal
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
    .modal-content {
        background-color: $color-white;
        padding: 20px;
        border-radius: 4px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }
}