.app-container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    width: 100%;
    height: calc(100vh - 100px);
}

.app-contents-wrap {
    position: relative;
    width: 100%;
    padding: 20px 10px;
}

img, i {
    display: block;
    width: 100%;
    height: 100%;
}

.top-title {
    font-size: 1.2rem;
    font-weight: bold;    
    padding: 0 20px 1.2rem;
}

.header {
    position: sticky !important;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 4.5rem;
    padding: 0.4rem 20px;
    background: $primary-color;
    box-shadow: 0.4rem 0 0.4rem 0.1rem rgba(0, 0, 0, 0.1);
    .page-title {
      font-size: 1.1rem;
      margin-left: -32px;
      margin-bottom: 0;
      color: $color-light-grey-0;
    }
}

.hamburger-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1.4rem;
    height: 1.15rem;
    cursor: pointer;
    .bar {
        width: 100%;
        height: 0.06rem;
        background: $color-light-grey-0;
    }
  }
  .menu {
    position: absolute;
    top: 2.8rem;
    left: 0.7rem;
    background: $color-white;
    padding: 0.7rem;
    border: 0.2rem solid $color-light-grey-1;
    display: flex;
    flex-direction: column;
    width: 200px;
  }

// modal
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    
    .modal-content {
        position: relative;
        width: calc(100% - 40px);
        background-color: $color-white;
        padding: 20px;
        border-radius: 4px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        h2, p, button {
            font-family: "Nanum Gothic", Nanum Gothic, HelveticaNeue-Light, AppleSDGothicNeo-Light,
    sans-serif;
        }
    }
    
    .dim {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.bottom-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .modal-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        width: 100%;
        min-height: 40vh;
        background-color: $color-white;
        padding: 20px;
        margin-top: auto;        
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        .close-popup {
            display: flex;
            margin-left: auto;            
        }        
    }
    .dim {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

// chat
.chat-wrapper {
    background: $color-grey-3;
}