.app-container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    width: 100%;
    height: calc(100vh - 100px);
}

.app-contents-wrap {
    position: relative;
    width: 100%;
    padding: 20px 10px;
}

img, i {
    display: block;
    width: 100%;
    height: 100%;
}