.tabs {
    overflow-y: auto;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #cccccc;

    ul {
        display: flex;
        align-content: center;
        width: 100%;

        li {
            flex: 1;
            min-width: calc(100% / 3);
            font-size: 14px;
            padding: 10px;
            text-align: center;

            &.active {
                border-bottom: 1px solid #000;
            }
        }
    }
    &::-webkit-scrollbar {
        display: none;
    }
}

.tab-content {
    padding: 20px;
}

// 관심사 탭 리스트
.interests-list {
    .interests-item {
        .image {
            border: 2px solid $secondary-color;
        }

        &.active {
            .image {
                border: 2px solid $primary-color;
            }
        }
    }
}