.tabs {
    overflow-y: auto;
    position: relative;
    width: 100%;

    ul {
        position: relative;
        display: flex;
        align-content: center;
        width: 100%;
        padding-left: 0;

        li {
            position: relative;
            flex: 1;
            min-width: calc(100% / 3);
            padding: 10px;
            text-align: center;

            &:after {
                position: absolute;
                left: 0;
                bottom: 0;    
                z-index: 1;            
                display: none;
                clear: both;
                content: '';
                width: 100%;
                height: 2px;
                background: $color-grey-0;
            }

            &.active {
                &:after {
                    display: block;
                }   
            }
        }
        &:after {
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            clear: both;
            content: '';
            width: 100%;
            height: 0.1rem;
            background: #E2E2E2;
        }
    }
    &::-webkit-scrollbar {
        display: none;
    }
}

.tab-content {
    padding: 20px;
}

// 관심사 탭 리스트
.interests-list {
    margin: 0;
    .interests-item {
        .image {
            border: 0.06rem solid $color-light-grey-1;
        }

        &.active {
            .image {
                border: 0.06rem solid $color-grey-2;
            }
            .interests-name {
                font-weight: bold;
            }
        }

        &.on {
            border: 0.06rem solid $color-grey-1;
        }        
    }
    &::-webkit-scrollbar {
        display: none;
    }
}