@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Indie+Flower&family=Noto+Sans+KR:wght@900&family=Noto+Serif+KR&display=swap');

* {
    font-family: 'Noto Serif KR', serif;  
}

// μλ¬Έν°νΈ {font-family: "Caprasimo", cursive;}