.media-play {    
    .top-box {        
        background: url("../images/carrot.png") center center repeat $color-green;
        color: $color-white;            
    }
    .best-play-container {        
        .best-play-box {
            background: $color-white;
        }
    }
}